# Semi-major axis
This notebook analise the time evolution of the semi-major axis for each planet.

In [1]:
%matplotlib inline
import os
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import pandas as pd

In [2]:
#Matplotlib configure
plt.style.use('ggplot')
font = {'size'   :  16}
matplotlib.rc('font', **font)

In [20]:
def read_semi_major_axis(planet, orbital_element, n_lines):
    """planet: string
       orbital_element: integer  
    """
    columns = ['time'] + ['s_' + str(i) for i in np.arange(1, n_lines + 1)]
    dataframe = pd.DataFrame(columns=columns)
    dataframe['time']= np.genfromtxt(prefix_simulation + '1' + '/' + planet + '.txt')[:,0]
    for simulation in np.arange(1, n_lines + 1):
        os.chdir(prefix_simulation + str(simulation))
        dataframe['s_' + str(simulation)]= np.genfromtxt(planet + '.txt')[:,orbital_element]
        os.chdir('..')
    return dataframe

In [21]:
# Paths configuration
path_proj = '/Users/sandro/Documents/Projetos/MVS_SS_Circ_Invar4'
path_ss_data = '../data/MVS_SS_Circ_Invar'
prefix_simulation = 'MVS_SS_Circ_Invar-'

In [22]:
os.chdir(path_proj)
os.chdir('data/MVS_SS_Circ_Invar')

In [23]:
mercury = read_semi_major_axis('Mercury', 1, n_lines=96)
mercury.head()

,time,s_1,s_2,s_3,s_4,s_5,s_6,s_7,s_8,s_9,...,s_87,s_88,s_89,s_90,s_91,s_92,s_93,s_94,s_95,s_96
0,0.00,0.387098,0.387098,0.387098,0.387098,0.387098,0.387098,0.387098,0.387098,0.387098,...,0.387098,0.387098,0.387098,0.387098,0.387098,0.387098,0.387098,0.387098,0.387098,0.387098
1,5000.00,0.387098,0.387099,0.387099,0.387099,0.387098,0.387098,0.387098,0.387098,0.387098,...,0.387099,0.387098,0.387099,0.387099,0.387098,0.387098,0.387097,0.387098,0.387098,0.387098
2,10000.00,0.387099,0.387098,0.387098,0.387099,0.387098,0.387099,0.387098,0.387098,0.387098,...,0.387098,0.387098,0.387098,0.387098,0.387098,0.387098,0.387097,0.387098,0.387098,0.387098
3,15000.00,0.387098,0.387098,0.387098,0.387098,0.387098,0.387098,0.387098,0.387099,0.387098,...,0.387098,0.387099,0.387099,0.387099,0.387099,0.387098,0.387099,0.387098,0.387098,0.387098
4,20000.01,0.387098,0.387098,0.387099,0.387098,0.387098,0.387098,0.387098,0.387099,0.387099,...,0.387098,0.387099,0.387099,0.387098,0.387099,0.387098,0.387097,0.387098,0.387099,0.387098

In [ ]:
plt.figure(figsize=(14,8))
plt.plot(mercury['time'], mercury['s-1'])

In [25]:
venus = read_semi_major_axis('Venus', 1, n_lines=96)
venus.head()

,time,s_1,s_2,s_3,s_4,s_5,s_6,s_7,s_8,s_9,...,s_87,s_88,s_89,s_90,s_91,s_92,s_93,s_94,s_95,s_96
0,0.00,0.723325,0.723325,0.723325,0.723325,0.723325,0.723325,0.723325,0.723325,0.723325,...,0.723325,0.723325,0.723325,0.723325,0.723325,0.723325,0.723325,0.723325,0.723325,0.723325
1,5000.00,0.723318,0.723312,0.723341,0.723308,0.723322,0.723325,0.723334,0.723331,0.723338,...,0.723336,0.723326,0.723333,0.723329,0.723343,0.723313,0.723331,0.723326,0.723323,0.723318
2,10000.00,0.723313,0.723316,0.723329,0.723304,0.723320,0.723328,0.723320,0.723327,0.723324,...,0.723329,0.723327,0.723320,0.723328,0.723325,0.723311,0.723325,0.723326,0.723330,0.723327
3,15000.00,0.723310,0.723319,0.723328,0.723307,0.723335,0.723326,0.723328,0.723322,0.723322,...,0.723329,0.723319,0.723328,0.723327,0.723332,0.723310,0.723343,0.723324,0.723337,0.723321
4,20000.01,0.723315,0.723307,0.723335,0.723313,0.723325,0.723334,0.723324,0.723328,0.723319,...,0.723332,0.723324,0.723326,0.723325,0.723324,0.723314,0.723327,0.723325,0.723328,0.723321

In [ ]:
plt.figure()
mercury.plot(x = 'time', kind='line', legend=False, figsize=(14,8), ylim=(0.3,0.5))
venus.plot(x = 'time', kind='line', legend=False, figsize=(14,8), ylim=(0.6,0.8))

In [ ]:
def plot(planet):
    plt.plot(planet.time, planet.s-1)

plt.figure(figsize=(14,8))
plt.ylim(0.3, 0.75)
planets = ['mercury', 'venus']
for planet in planets:
    plot(planet)

In [ ]:
pd.